body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f7f6;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

/* Dashboard Kvadratları */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
}

.menu-card {
  background: white;
  padding: 25px 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-card:hover {
  transform: translateY(-3px);
  border-color: #1a4e8a;
}

.menu-card span {
  font-size: 30px;
  margin-bottom: 8px;
}

/* User Bar */
.user-profile-bar {
  background: #1a4e8a;
  color: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Formlar */
input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background: #1a4e8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn {
  background: #6c757d;
  width: auto;
  padding: 8px 15px;
  margin-bottom: 15px;
}

/* Sual və Taymer */
.question-box {
  text-align: left;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border-left: 5px solid #1a4e8a;
}

#timer-box {
  position: sticky;
  top: 0;
  background: #e74c3c;
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  z-index: 100;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
}
