body {
    font-family: 'Georgia', serif;
    background-color: #f2e9d9;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

#quiz-container {
    background: #fffcf5;
    padding: 40px; 
    border-radius: 20px;
    border: 2px solid #d4a373;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.lang-switcher {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: -10px;
}

.lang-switcher button {
    width: auto;
    padding: 4px 10px;
    font-size: 11px;
    background: #d4a373;
    color: white;
    margin: 0;
}

h1 + p {
    margin-bottom: 10px;
    color: #8b4513;
}

input, select {
    width: 100%;
    padding: 15px;
    border: 1px solid #d4a373;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 5px; 
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    background-color: #5c4033;
}

.secondary-btn {
    background-color: #a6a6a6;
    margin-top: 5px;
}

/* Footer-in sağa qaçmasını düzəldirik */
.site-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: #5c4033;
    font-style: italic;
    font-size: 14px;
}

.site-footer span {
    font-weight: bold;
}

.hidden { display: none !important; }

/* Admin Paneli üçün Tablar */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 2px solid #d4a373;
}

.tab-btn {
    background: none;
    color: #8b4513;
    border: none;
    width: auto;
    padding: 10px;
    cursor: pointer;
}

.tab-btn.active {
    font-weight: bold;
    border-bottom: 3px solid #8b4513;
}

/* Sual kartları */
.q-editor-card, .question {
    background: #fdf8ef;
    border: 1px solid #e2d1b3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
}
