:root {
    --primary: #1a4e8a;
    --white: #ffffff;
    --gray: #8492a6;
    --light-bg: #f4f7f9;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#quiz-container {
    background: var(--white);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    width: 95%;
    max-width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Bütün elementlərin arasındakı ümumi məsafə */
    text-align: center;
    border-top: 6px solid var(--primary);
}

/* AZ / RU DÜYMƏLƏRİ */
.lang-switcher {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 5px;
}

.lang-switcher button {
    width: 32px !important;
    height: 22px !important;
    font-size: 10px !important;
    padding: 0 !important;
    background: #e1e8ef !important;
    color: var(--primary) !important;
    border-radius: 4px;
    margin: 0 !important;
}

/* GİRİŞ XANALARI (INPUTLAR) */
input {
    width: 100%;
    padding: 14px;
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5px; 
}

/* DÜYMƏLƏR */
button {
    width: 100%;
    padding: 14px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-btn {
    background-color: var(--gray) !important;
    margin-top: 10px; 
}

#admin-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.admin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    text-align: left;
}

.admin-row h3 {
    margin: 0;
    font-size: 16px;
    color: var(--primary);
}

.admin-row button {
    width: auto; 
    padding: 8px 20px;
}

/* Footer  */
.site-footer {
    position: fixed;
    bottom: 20px;
    color: var(--primary);
    font-size: 13px;
    font-weight: 500;
}

.hidden { display: none !important; }
